<ion-view view-title="Sports">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
         <!-- <a ng-click="goBackState()" class="button button-icon icon ion-ios-arrow-thin-left"></a> -->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
         <a ng-click="goHome()" class="button button-icon icon ion-ios-home-outline"></a>
    </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>

    <div class="row">

    <button class="button tile">
  Baseball
</button>
      <button class="button tile">
  Basketball
</button>
      <button class="button tile">
  Bowling
</button>

    </div>

    <div class="row">

    <button class="button tile">
  Cross Country
</button>
      <button class="button tile">
  Football
</button>
      <button class="button tile">
  Golf
</button>

    </div>

    <div class="row">

    <button class="button tile">
  Gymnastics
</button>
      <button class="button tile">
  Rifle
</button>
      <button class="button tile">
  Soccer
</button>

    </div>




    <div class="row">

    <button class="button tile">
  Softball
</button>
      <button class="button tile">
  Swimming & Diving
</button>
      <button class="button tile">
  Tennis
</button>

    </div>

    <div class="row">

    <button class="button tile">
    Track & Field
    </button>
      <button class="button tile">
    Volleyball
    </button>
      <button class="button tile">
    Wrestling
    </button>

    </div>



  </ion-content>
</ion-view>
