<ion-view view-title="Dinning Halls">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
         <!-- <a ng-click="goBackState()" class="button button-icon icon ion-ios-arrow-thin-left"></a> -->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
         <a ng-click="goHome()" class="button button-icon icon ion-ios-home-outline"></a>
    </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>

    <div class="card" href="#">
<div class="item item-text-wrap">
  <h2>  Abel / Sandoz</h2><span class="badge badge-balanced">Open</span>
  </div>
</div>

  <div class="card">
<div class="item item-text-wrap">
<h2>Cather / Pound / Neihardt</h2><span class="badge badge-balanced">Open</span>
</div>
</div>

  <div class="card">
<div class="item item-text-wrap">
<h2>East Campus Union Cafe & Grill</h2>
<span class="badge badge-balanced">Open</span>
</div>
</div>

  <div class="card ">
<div class="item item-text-wrap ">
<h2>Harper</h2><span class="badge badge-assertive">Closed</span>
</div>
</div>

  <div class="card ">
    
<div class="item item-text-wrap" >
<h2>Selleck</h2><span class="badge badge-balanced">Open</span>
</div>
</div>
<br>
<center><img src="img/dining.png" ></center>

  </ion-content>
</ion-view>
