<ion-pane>
  <ion-content scroll="false">
<section class = "home-container">

    <ion-slide-box does-continue="true" auto-play="true">
                    <ion-slide ng-repeat="image in images">
                        <img ng-src="{{image}}" style="width:100%;height:230px;display:block" >
                    </ion-slide>
     </ion-slide-box>

     <div class = "row icon-row">
       <div class = "col text-center">

         <a class="button button-icon" ng-click="openInAppBrowserDinning()">
                <img src="img/dining.png" style="width:70%;height:10%"></img>Dining
            </a>
       <!-- <a class="button button-clear button-dark" href="#" >

     <div class="card" >

     <div class="item item-image">
       <img src="img/news.png"  >
     </div>
       News
     </div>
     </a> -->
     </div>
     <div class = "col text-center">

     <a class="button button-icon" ng-click="openInAppBrowserCourses()">
            <img src="img/courses.png" style="width:70%;height:10%"></img>Courses
        </a>
     <!--
     <a class="button button-clear button-dark" href="#" >

     <div class="card" >

     <div class="item item-image">
     <img src="img/directory.png" >
     </div>
     Directory
     </div>
     </a> -->
     </div>
     <div class = "col text-center">
     <a class="button button-icon" ng-click="openInAppBrowserEmergency()">
            <img src="img/incident.png" style="width:70%;height:10%"></img>Emergency
        </a>
     <!-- <a class="button button-clear button-dark" href="#" >

     <div class="card" >

     <div class="item item-image">
     <img src="img/athletics.png" >
     </div>
       Athletics
     </div>
     </a> -->
     </div>

     </div>

     <div class = "row icon-row">
       <div class = "col text-center">

         <a class="button button-icon" ng-click="openInAppBrowserMedia()">
                <img src="img/video.png" style="width:70%;height:10%"></img>Media Hub
            </a>
       <!-- <a class="button button-clear button-dark" href="#" >

     <div class="card" >

     <div class="item item-image">
       <img src="img/news.png"  >
     </div>
       News
     </div>
     </a> -->
     </div>
     <div class = "col text-center">

     <a class="button button-icon" ng-click="openInAppBrowserEvents()">
            <img src="img/events.png" style="width:70%;height:10%"></img>Events
        </a>
     <!--
     <a class="button button-clear button-dark" href="#" >

     <div class="card" >

     <div class="item item-image">
     <img src="img/directory.png" >
     </div>
     Directory
     </div>
     </a> -->
     </div>
     <div class = "col text-center">
     <a class="button button-icon" ng-click="openInAppBrowserMaps()">
            <img src="img/map.png" style="width:70%;height:10%"></img>Maps
        </a>
     <!-- <a class="button button-clear button-dark" href="#" >

     <div class="card" >

     <div class="item item-image">
     <img src="img/athletics.png" >
     </div>
       Athletics
     </div>
     </a> -->
     </div>

     </div>





  <div class = "row icon-row">
    <div class = "col text-center">

      <a class="button button-icon" ng-click="openInAppBrowserNews()">
             <img src="img/news.png" style="width:70%;height:10%"></img>News
         </a>
    <!-- <a class="button button-clear button-dark" href="#" >

<div class="card" >

  <div class="item item-image">
    <img src="img/news.png"  >
  </div>
    News
</div>
</a> -->
</div>
<div class = "col text-center">

  <a class="button button-icon" ng-click="openInAppBrowserDirectory()">
         <img src="img/directory.png" style="width:70%;height:10%"></img>Directory
     </a>
<!--
<a class="button button-clear button-dark" href="#" >

<div class="card" >

<div class="item item-image">
<img src="img/directory.png" >
</div>
Directory
</div>
</a> -->
</div>
<div class = "col text-center">
  <a class="button button-icon" ng-click="openInAppBrowserAthletics()">
         <img src="img/athletics.png" style="width:70%;height:10%"></img>Athletics
     </a>
<!-- <a class="button button-clear button-dark" href="#" >

<div class="card" >

<div class="item item-image">
<img src="img/athletics.png" >
</div>
    Athletics
</div>
</a> -->
</div>

</div>



</section>

  </ion-content>
</ion-pane>
