<ion-view view-title="News">
  <ion-content>
    <h1><center>News</center></h1>

    <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Title</h2>
      <p># hours ago</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Title</h2>
      <p># hours ago</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Title</h2>
      <p># hours ago</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Title</h2>
      <p># hours ago</p>
    </a>


</div>
  </ion-content>
</ion-view>
