<ion-view view-title="News">
  <ion-content>
    <h1><center>News</center></h1>
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
    	<ion-item ng-if="newItems.length > 0" ng-click="doRefresh()">
    		{{newItems.length}} new items
    	</ion-item>
    	<ion-item ng-repeat="item in items">
    		<!-- <img src="{{item.picture.thumbnail}} " /> -->
    	 <h2>{{item}} </h2>

        <!-- <h2>{{item}} </h2> -->

    	</ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>

  </ion-content>
</ion-view>
